.btn-whatsapp {
    background-color: #25D366;
    height: 40px;
    width: 150px;
    &:hover {
        background-color: #128C7E;
        p {
            color: white;
        }
    }
    p {
        margin: 0;
        padding: 0 10px;
        font-size: 12px;
        height: 100%;
    }
    i {
        padding: 0;
        margin: 0;
        height: 100%;
    }
}