$logo_font:'Permanent Marker',
cursive;

/*Estos son los tamaños de topografías para el básico de mobile*/

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}