footer {
    height: 15vh;
    width: 100vw;
    background-color: $azul;
}

.footer__container {
    height: 15vh;
}

i {
    color: white;
    font-size: 30px;
    &:active {
        color: indianred;
    }
}

.footer__rrss {
    height: 40px;
    width: 50%;
    i {
        padding-left: 10px;
    }
}